html

  head
    style
      include css/style.css
      include css/button.css
      include css/home.css
    title= title

    body
        h1 Votre cage à etais créer, que voulez vous faire ?
        a(href = "/home") Retour au menu
        <br>
        a(href = "/addcage") Ajoutez une cage
