html

  head
    style
      include css/style.css
      include css/button.css
      include css/home.css
    title= title

    body
    h1 Monkey 3000 !  Le singe qu'il vous faut !
    h2 Que voulez vous faire ?
    h3
        li
          a(href = "/addmonkey") Ajoutez un singe
        li
          a(href = "/addcage") Ajoutez une cage
        li
          a(href = "/singes") Voir vos singes
        li
          a(href = "/cage") Voir vos cages
